<div>
    <h4 class="mat-subheading-1">Hours</h4>
    <button mat-stroked-button (click)="aerobicData['instanceData']['performance'].hours = aerobicData['instanceData']['performance'].hours - 1">
        <mat-icon>remove</mat-icon>
    </button>
    <mat-form-field>
        <input matInput type="number" [(ngModel)]="aerobicData['instanceData']['performance'].hours" />
    </mat-form-field>
    <button mat-stroked-button (click)="aerobicData['instanceData']['performance'].hours = aerobicData['instanceData']['performance'].hours + 1">
        <mat-icon>add</mat-icon>
    </button>
</div>
<div>
    <h4 class="mat-subheading-1">Minutes</h4>
    <button mat-stroked-button (click)="aerobicData['instanceData']['performance'].minutes = aerobicData['instanceData']['performance'].minutes - 1">
        <mat-icon>remove</mat-icon>
    </button>
    <mat-form-field>
        <input matInput type="number" [(ngModel)]="aerobicData['instanceData']['performance'].minutes" />
    </mat-form-field>
    <button mat-stroked-button (click)="aerobicData['instanceData']['performance'].minutes = aerobicData['instanceData']['performance'].minutes + 1">
        <mat-icon>add</mat-icon>
    </button>
</div>
<div>
    <h4 class="mat-subheading-1">Miles</h4>
    <button mat-stroked-button (click)="aerobicData['instanceData']['performance'].miles = aerobicData['instanceData']['performance'].miles - 1">
        <mat-icon>remove</mat-icon>
    </button>
    <mat-form-field>
        <input matInput type="number" [(ngModel)]="aerobicData['instanceData']['performance'].miles" />
    </mat-form-field>
    <button mat-stroked-button (click)="aerobicData['instanceData']['performance'].miles = aerobicData['instanceData']['performance'].miles + 1">
        <mat-icon>add</mat-icon>
    </button>
</div>
<div>
    <h4 class="mat-subheading-1">Notes</h4>
    <mat-form-field>
        <mat-label>Additional Context</mat-label>
        <textarea matInput [(ngModel)]="aerobicData['instanceData']['performance'].notes"></textarea>
    </mat-form-field>
</div>
<div>
    <button mat-button color="primary" (click)="updateFields()">Update Workout</button>
</div>