.container {
    padding: 1em;
}


.form-header {
    display: flex;
    justify-content: space-between;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.stats-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.field {
    margin: auto;
}

.notes {
    width: 80%;
    margin: auto;
    display: flex;
}

//TODO: make these work with angular theming
// panel colors
.ChestDay {
    background: #1565C0;
    color: #FFFFFF;
}

.BackDay {
    background: #4CAF50;
}

.LegDay {
    background: #EF5350;
}

.Cardio {
    background: #64B5F6;
}

.not-done {
    background: #FFF;
}