<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
        <mat-panel-title>{{ historyDoc.displayName }}</mat-panel-title>
        <mat-panel-description>{{ historyDoc.date.toMillis() | date: 'dd/MM/yyyy' }}</mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
        <app-workout-instance *ngFor="let instanceRef of historyDoc.instanceRefs" [instanceRef]="instanceRef"></app-workout-instance>
    </ng-template>
</mat-expansion-panel>