<mat-expansion-panel [ngClass]="panelColor">
    <mat-expansion-panel-header [ngClass]="panelColor">
        <mat-panel-title [ngClass]="panelColor">
            <h3 class="subtitle-1">{{ historyDoc['displayName'] }}</h3>
        </mat-panel-title>
        <mat-panel-description [ngClass]="panelColor">
            <h4 class="subtitle-2">{{ historyDoc['date'].toMillis() | date: 'dd/MM/yyyy' }}</h4>
        </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
        <div class="details">
            <app-history-details *ngFor="let instance of historyDoc['instances']" [instance$]="instance"></app-history-details>
        </div>
    </ng-template>
</mat-expansion-panel>