<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{ workoutDoc$.displayName }}
        </mat-panel-title>
        <mat-panel-description>
            {{ workoutDoc$.date | date 'dd/MM/yyyy' }}
        </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
        @if ((workoutInstance$ | async) === null) {
            Loading Instance...
        }
        <!-- load app-workout-instance here, pass in whether it's an aerobic or anaerobic workout -->
    </ng-template>
</mat-expansion-panel>