.mat-expansion-panel,
.mat-expansion-panel:hover,
.mat-expansion-panel.mat-expanded,
.mat-expansion-panel.mat-expanded:hover,
.mat-expansion-panel-body {
    .ChestDay {
        background: #1565C0;
        color: #FFFFFF;
    }

    .BackDay {
        background: #4CAF50;
    }

    .LegDay {
        background: #EF5350;
    }

    .Cardio {
        background: #64B5F6;
    }
}