@if ( !instance$ ) {
    Loading data...
} @else {
    <mat-card class="container">
        <mat-card-header class="header">
            <p class="body-1">{{ instance$['workoutName'] }}: {{ instance$['user'] }}</p>
        </mat-card-header>
        <mat-divider></mat-divider>
        <!-- <mat-card class="content"> -->
            <mat-card-content>
                <div class="field" *ngFor="let history of instanceHistory$['performance'] | keyvalue">
                        <p class="body-1">{{ history.key }}: {{ history.value }}</p>
                </div>
            </mat-card-content>
        <!-- </mat-card> -->
    </mat-card>
}