<h3 class="mat-subheading-2">Anaerobic Exercise</h3>
<mat-divider></mat-divider>
<div>
    <h4 class="mat-subheading-1">Sets</h4>
    <button mat-stroked-button (click)="anaerobicData.performance.sets = anaerobicData.performance.sets - 1">
        <mat-icon>remove</mat-icon>
    </button>
    <mat-form-field>
        <input matInput type="number" [(ngModel)]="anaerobicData.performance.sets" />
    </mat-form-field>
    <button mat-stroked-button (click)="anaerobicData.performance.sets = anaerobicData.performance.sets + 1">
        <mat-icon>add</mat-icon>
    </button>
</div>
<div>
    <h4 class="mat-subheading-1">Reps</h4>
    <button mat-stroked-button (click)="anaerobicData.performance.reps = anaerobicData.performance.reps - 1">
        <mat-icon>remove</mat-icon>
    </button>
    <mat-form-field>
        <input matInput type="number" [(ngModel)]="anaerobicData.performance.reps" />
    </mat-form-field>
    <button mat-stroked-button (click)="anaerobicData.performance.reps = anaerobicData.performance.reps + 1">
        <mat-icon>add</mat-icon>
    </button>
</div>
<div>
    <h4 class="mat-subheading-1">Weight</h4>
    <button mat-stroked-button (click)="anaerobicData.performance.weight = anaerobicData.performance.weight - 1">
        <mat-icon>remove</mat-icon>
    </button>
    <mat-form-field>
        <input matInput type="number" [(ngModel)]="anaerobicData.performance.weight" />
    </mat-form-field>
    <button mat-stroked-button (click)="anaerobicData.performance.weight = anaerobicData.performance.weight + 1">
        <mat-icon>add</mat-icon>
    </button>
</div>