<p>add-route: {{ isExistingTemplate }}</p>
<section class="header">
    <h1 class="mat-title">{{ templateName }}</h1>
</section>
<section class="content">
    <app-add-workout-panel [templateId]="templateDoc.id"></app-add-workout-panel>
    <!-- <app-workout-panel *ngFor="let workout of workouts$" [workout]="workout"></app-workout-panel> -->
    @for (workout of workouts$; track workout; let idx = $index) {
        <app-workout-panel [workout]="workout" [index]="idx"></app-workout-panel>
    }
</section>