<section class="header">
    <h1 class="mat-title">{{ templateName }}</h1>
    <button mat-button color="primary" (click)="finishWorkout()">Complete {{ templateName }} Workout</button>
</section>
<section class="content">
    @if (!templateDoc) {
        Setting up your workout...
    } @else {
        <app-add-workout-panel [templateId]="templateDoc.id" (addWorkoutEvent)="addWorkout($event)"></app-add-workout-panel>
    }
    @for (workout of workouts$; track workout; let idx = $index) {
        <app-workout-panel [workout]="workout" [workoutPath]="workoutPath" [index]="idx"></app-workout-panel>
    }
</section>