@if ( currentState === 'loading' ) {
    Loading instance data...   
} @else if ( currentState === 'error') {
    Error! Sorry, something went wrong.
} @else {
    <div [ngClass]="panelColor" class="container">
        <div class="form-header">
            <p class="body-1">{{ user }}</p>
            <button mat-stroked-button color="primary" (click)="updateFields()">Done!</button>
        </div>
        <mat-divider></mat-divider>
        <div class="form-container">
            <div *ngFor="let key of getKeys(fields.performance)" class="field">
                @if (key === 'notes') {
                    <mat-form-field class="notes">
                        <mat-label>{{ key }}</mat-label>
                        <textarea matInput [(ngModel)]="fields.performance[key]"></textarea>
                    </mat-form-field>
                } @else {
                    <p class="body-1">{{ key }}</p>
                    <button mat-stroked-button (click)="decrement(key)">
                        <mat-icon>remove</mat-icon>
                    </button>
                    <mat-form-field>
                        <input matInput type="number" [(ngModel)]="fields.performance[key]" />
                    </mat-form-field>
                    <button mat-stroked-button (click)="increment(key)">
                        <mat-icon>add</mat-icon>
                    </button>
                }
            </div>
        </div>
    </div>
}