@if ( currentState === 'loading' ) {
    Loading instance data...   
} @else if ( currentState !== 'loaded' && currentState !== 'empty') {
    Error! Sorry, something went wrong.
} @else {
    @if ( workout.workoutData['type'] === 0) {
        @if ( user === 'Ian' ) {
            Ian:
            <app-aerobic-fields [(aerobicData)]="workout.ianData"></app-aerobic-fields>
        } @else {
            Holly:
            <app-aerobic-fields [(aerobicData)]="workout.hollyData"></app-aerobic-fields>
        }
    } @else {
        @if ( user === 'Ian' ) {
            Ian:
            <app-anaerobic-fields [(anaerobicData)]="workout.ianData"></app-anaerobic-fields>
        } @else {
            Holly:
            <app-anaerobic-fields [(anaerobicData)]="workout.hollyData"></app-anaerobic-fields>
        }
    }
}