<main class="root">
  <section class="header">
    <a [routerLink]="['/home']">
      <h1 class="headline-5"><i>{{ title }}</i></h1>
    </a>
    <div class="links">
      <a class="link" href="https://www.github.com/ijcresse/reps-se">
        <mat-icon>info</mat-icon>
      </a>
      <a class="link" [routerLink]="['/login']">
        <mat-icon>account_circle</mat-icon>
      </a>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section class="content">
    <router-outlet />
  </section>
</main>