<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Log In</mat-card-title>
    </mat-card-header>
    <mat-card-actions class="form">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input type="email" matInput [(ngModel)]="email" (keydown.enter)="logIn()">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input type="password" matInput [(ngModel)]="password" (keydown.enter)="logIn()">
        </mat-form-field>
        <button mat-stroked-button (click)="logIn()">Submit</button>
    </mat-card-actions>
</mat-card>